@import './token.css';
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --font-mono: var(--font-inter-tight);
}

body {
  background : var(--background);
  color      : var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}
